main, footer {padding-left: 250px;}@media only screen and (max-width : 992px) {main, footer {padding-left: 0;}}@font-face{font-family: "Google";src: url("font.ttf");}*{font-family: 'Google', sans-serif;}
.sidenav{width: 250px !important;}
main.row>div{
    height: calc(100vh - 64px);
    overflow-y: auto;
}
.documentaion-part,.program-part{padding: 20px !important;}
.documentation-title{
    border-bottom: 3px solid #9e9e9e;
    margin-bottom: 20px;
}
.documentation-title>h1, .documentation-title>h4{
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 8px !important;
}
.documentation-title>h4{font-weight: normal;}
.documentation-introduction{
    margin-bottom: 50px;
}
.documentation-introduction-title{
    font-size: 23px !important;
    font-weight: bold;
    margin-bottom: 10px !important;
}
.documentation-introduction-content{
    padding-left: 10px;
    font-size: 16px !important;
}
tbody>tr>th{
    font-weight: normal;
}
.left-column{
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 10px;
    word-wrap: break-word;
}
.documentation-part{
    margin-bottom: 50px;
}
.documentaion-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    font-size: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    border-left: 10px solid #59abfd;
    cursor: pointer;
    font-weight: 600;
}
.documentaion-btn.put-btn{
    border-left: 8px solid #a8aebc;
}
.documentaion-btn.get-btn{
    border-left: 8px solid #94d7be;
}
.documentation-part-title-method{
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}
.documentation-part-title{
    font-size: 17px;
    margin-bottom: 20px;
}
.collection-title{
    border-bottom: 1px solid #e0e0e0;
}
.documentation-block{
    display: none;
}